<div class="container">
    <h3>Clientes</h3>
    <div class="justify-content-center">
        <span class="p-input-icon-left">
            <i *ngIf="!icon_cargar" class="pi pi-search"></i>
            <i *ngIf="icon_cargar" class="pi pi-spin pi-spinner"></i>
            <input type="text" pInputText (input)="evaluarValorInput($event)" (keyup.enter)="buscar()" size="100" />
        </span>
        &nbsp; &nbsp;
        <p-button label="Buscar" styleClass="p-button-primary" (click)="buscar()" class="text-center"
            [disabled]="disabled" icon="pi pi-search"></p-button>
    </div>
    &nbsp; &nbsp;
</div>

<div class="md-4">
    <div class="card mb-4" *ngIf="tabla">
        <div class="card-body">
            <p-table #dt1 [value]="clientes" [paginator]="false" [rows]="sizePage" [(first)]="firstIndex"
                [rowsPerPageOptions]="[2, 5,10, 25, 50]">
    
                <ng-template pTemplate="caption">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> ID </th>
                        <th> Nombre </th>
                        <th> Apellido </th>
                        <th> Nit </th>
                        <th> DPI </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-clientes let-editing="editing">
    
                    <tr>
                        <td>{{ clientes.id }}</td>
                        <td>{{ clientes.nombre}}</td>
                        <td>{{ clientes.apellido}}</td>
                        <td>{{ clientes.nit}}</td>
                        <td>{{ clientes.dpi}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
    
                <div class="card flex justify-content-center">
    
                </div>
    
            </p-table>
            <p-paginator (onPageChange)=onPageChange($event) [rows]="sizePage" [totalRecords]="totalElements"
                [rowsPerPageOptions]="[2 ,5, 10, 20, 30]">
            </p-paginator>
    
        </div>
    </div>
</div>
