<div class="card">
    <div class="container justify-content-center">
        <div class="form">
            <form>
                <div class="col-md-2">
                    <div class="flex flex-column gap-2">
                        <label htmlFor="username">Descripcion</label>
                    </div>
                    <div class="flex flex-column gap-2">
                        <textarea rows="2" cols="50" maxlength="100" id="float-input" pInputTextarea
                            [(ngModel)]="cobertura.descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="CostoGroup">Costo</label>
                    <div>
                        <p-inputNumber inputId="CostoGroup" mode="decimal" [min]="0" prefix="Q" [minFractionDigits]="2"
                            [(ngModel)]="cobertura.costo" [ngModelOptions]="{standalone: true}" [size]=50></p-inputNumber>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flex flex-column gap-2">
                        <label for="SumaAseg">Suma Asegurada</label>
                    </div>
                    <div class="flex flex-column gap-2">
                        <p-inputNumber inputId="SumaAseg" mode="decimal" [min]="0" prefix="Q" [minFractionDigits]="2"
                            [(ngModel)]="cobertura.sumaAsegurada" [ngModelOptions]="{standalone: true}" [size]=50></p-inputNumber>
                    </div>
                </div>
                <div class="col-md-5" align="center">
                    <br>
                    <button pButton label="Crear" class="p-button-success" (click)="crearRegistro()"></button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container pt-2" *ngIf="ActivateSucces">
    <div class="alert alert-success" role="alert">
        {{SuccesMsm}}
    </div>
</div>

<div class="container pt-2" *ngIf="ActivateErr">
    <div class="alert alert-danger" role="alert">
        {{ErrMsm}}
    </div>
</div>