<div class="container">
    <h3>Polizas</h3>
    <div class="justify-content-center">
        <span class="p-input-icon-left">
            <i *ngIf="!icon_cargar" class="pi pi-search"></i>
            <i *ngIf="icon_cargar" class="pi pi-spin pi-spinner"></i>
            <input type="text" pInputText (input)="evaluarValorInput($event)" (keyup.enter)="buscar()" size="100" [(ngModel)]="valBusqueda"
            [ngModelOptions]="{standalone: true}"/>
        </span>
        &nbsp; &nbsp;
        <p-button label="Buscar" styleClass="p-button-primary" (click)="buscar()" class="text-center"
            [disabled]="disabled" icon="pi pi-search"></p-button>
    </div>
    &nbsp; &nbsp;
</div>

<div class="md-4">
    <div class="card mb-4">
        <div class="card-body">
            <p-table #dt1 [value]="polizas" [paginator]="false" [rows]="sizePage" [(first)]="firstIndex"
                [rowsPerPageOptions]="[2, 5,10, 25, 50]">
    
                <ng-template pTemplate="caption">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear()"></button>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> ID </th>
                        <th> Tipo </th>
                        <th> Fecha Inicio </th>
                        <th> Fecha Fin </th>
                        <th> ID Contratante </th>
                        <th> Prima Total </th>
                        <th> Suma Asegurada </th>
                        <th> Estado </th>
                        <th> Acciones </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-polizas>
    
                    <tr>
                        <td>{{ polizas.id }}</td>
                        <td>{{ polizas.tipo}}</td>
                        <td>{{ polizas.fechaInicio}}</td>
                        <td>{{ polizas.fechaFin}}</td>
                        <td>{{ polizas.codigoContratante}}</td>
                        <td>Q{{ polizas.primaTotal}}</td>
                        <td>Q{{ polizas.sumaAsegurada}}</td>
                        <td>
                            <ng-container *ngIf='polizas.estado === "a"; else second'>
                                <span>
                                    Activo
                                </span>
                            </ng-container>
                            <ng-template #second>
                                <span>
                                    Inactivo
                                </span>
                            </ng-template>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm shadow mr-3" (click)="editarClientes(polizas)"
                                data-backdrop="static" data-keyboard="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
    
                <div class="card flex justify-content-center">
    
                </div>
    
            </p-table>
            <p-paginator (onPageChange)=onPageChange($event) [rows]="sizePage" [totalRecords]="totalElements"
                [rowsPerPageOptions]="[2 ,5, 10, 20, 30]">
            </p-paginator>
    
        </div>
    </div>
</div>
